  <div class='col-md-6 signF'>
    <h3 class='h2'>Update your Post</h3>

    <form class='form new-post-form signL'>
      <div class='form-group'>
        <label for='post-name'>Blog Title:</label>
        <br />
        <input class='form-input ifeatures' type='text' id='post-name' name='post-name' value={{name}} />
        <br />
      </div>
      <div class='form-group'>
        <label for='post-desc'>Post Description:</label>
        <br>
        <textarea class='form-input rowdash' id='post-desc' name='post-desc'>{{post_description}}</textarea>
      </div>
      <br>
      <div class='form-group'>
        <button type='submitIt' class='btn btn-primary signupBtn'>Update Post</button>
      </div>
        <br>
      <div class='form-group'>
        <button id='deleteIt' class='btn btn-sm btn-danger signupBtn' data-id='{{id}}'>Delete</button>
      </div>
    </form>
  </div>
</div>

<script src='/js/update.js'></script>