{{#if blogs.lenght}}
<div>
{{#each blogs as |blog| }}
<div>
  <div class="blogrow">
    <h2>
      <a class="blogtitle" href="/update/{{blog.id}}">{{blog.name}}</a>
    </h2>
    <p class="pPost">{{format_date date_created}}</p>
  </div>
</div>
<br>
{{/each}}
</div>
{{/if}}
<br><br><br>
<div class=''>
  <button class='' href="/blog">+ New Post</button>
</div>
