{{#if blogs.length}}
  <div>
    {{#each blogs as |blog|}}
      <div>
        <div class='dashPost'>
          <h2>
            <a class='blogtitle' href='/update/{{blog.id}}'>{{blog.name}}</a>
          </h2>
          <p class='pPost'>{{format_date date_created}}</p>
        </div>
      </div>
      <br />
    {{/each}}
  </div>
{{/if}}
<br />
<div class='newPostB'>
  <button class='btn btn-primary newPostBtn'><a href='/blog' class="aclass">+ New Post</a></button>
</div>
