<div class='row signF'>
  <div class='col-md-6'>
    <h2 class='h2'>Login</h2>

    <form class='form login-form signL'>
      <div class='form-group'>
        <label for='user_name-login'>Username</label>
        <br>
        <input class='form-input ifeatures' type='text' id='user_name-login' />
      </div>
      <br>
      <div class='form-group'>
        <label for='password-login'>Password</label>
        <br>
        <input class='form-input ifeatures' type='password' id='password-login' />
      </div>
      <br />
      <div class='form-group'>
        <button class='btn btn-primary signupBtn' type='submit'>Login!</button>
      </div>
    </form>
  </div>
</div>
<script src='./js/login.js'></script>