<div class='row'>
  <div class='col-md-6 signF'>
    <h2 class='h2'>Signup</h2>

    <form class='form signup-form signL'>
      <div class='form-group'>
        <label for='name-signup'>Username</label>
        <br />
        <input class='form-input ifeatures' type='text' id='name-signup' />
      </div>
      <br>
      <div class='form-group'>
        <label for='email-signup'>Email</label>
        <br />
        <input class='form-input ifeatures' type='text' id='email-signup' />
      </div>
      <br>
      <div class='form-group'>
        <label for='password-signup'>Password</label>
        <br />
        <input class='form-input ifeatures' type='password' id='password-signup' />
      </div>
      <br />
      <div class='form-group'>
        <button class='btn btn-primary signupBtn' type='submit'>signup</button>
      </div>
    </form>
  </div>
</div>

<script src='./js/signup.js'></script>