/* Sign/Signup.handlebar */
body {
    background-color: rgb(200, 240, 226);
}
.signF {
    border: solid;
    border-color: rgb(63, 8, 8);
    border-width: 2.5px;
}
.signL {
    width: 95%;
    margin-left: 20px;
    margin-bottom: 25px;
}
.h2 {
    background-color: rgb(63, 8, 8);
    color: beige;
    height: 40px;
    padding-left: 25px;
    padding-top: 11px;
    margin-top: -0px;
}
.ifeatures {
    width: 100%;
    height: 35px;
}
.signupBtn {
    width: 100%;
    height: 35px;
    background-color: grey;
}

/* Homepage.handlebar */
.blogrow {
    display: inline-flex;
    background-color: rgb(63, 8, 8);
    color: beige;
    width: 100%;
    height: 70px;
    gap: 60.5%;

}
.blogtitle {
    text-decoration: none;
    color: beige;
    padding-left: 25px;
}
.pPost {
    padding-top: 9.5px;
}
.signO {
    width: 95%;
    margin-left: 20px;
    height: 50px;
}

/* Dashboard.handlebar */
.rowdash {
    width: 100%;
    height: 65px;
}
.newPostB {
    text-align: center;
}
.newPostBtn {
    height: 45px;
    width: 160px;
    background-color: rgb(63, 8, 8);
    border-radius: 7px;
}
.aclass {
    text-decoration: none;
    color: beige;
    font-size: 20px;
}
.dashPost {
    display: inline-flex;
    background-color: grey;
    color: beige;
    width: 100%;
    gap: 60.5%;
}

/* Comment.handlebar */
.none {
    background-color: rgb(63, 8, 8);
    height: 35px;
    margin-top: -0px;
}

/* Main.handlebar */
.theBar {
    background-color: rgb(63, 8, 8);
    width: 100%;
    height: 100%;
    padding-bottom: 15px;
}
.navInline {
    display: inline-flex;
    gap: 80px;
}
.navInline li {
    margin-top: 10px;
}
.navInline li a {
    list-style-type: none;
    text-decoration: none;
    font-size: 20px;
    color: beige;
}
.logbnt {
    border: none;
    outline: none;
    background-color: inherit;
    font-family: inherit;
    font-size: 20px;
    color: beige;
}
.logo {
    display: flex;
    gap: 25px;
    margin-left: 37px;
}
.shadow {
    transform: skew(-7deg);
    box-shadow: 7px 7px 3px rgb(151, 151, 143);
    background-color: beige;
    width: 230px;
    border-radius: 9px;
    padding: 5px 30px;
    text-align: center;
    font-size: 35px;
    
}
.mtitle {
    text-decoration: none;
    color: rgb(63, 8, 8);
}
.mImg {
    transform: skew(-7deg);
    text-shadow: 7px 7px 3px rgb(151, 151, 143);
    font-size: 70px;
}
.slash {
    color: beige;
}
.pain {
    list-style-type: none;
    text-decoration: none;
}